# https://github.com/koalaman/shellcheck/wiki
shell=bash
disable=SC2006  # Use $(...) notation instead of legacy backticked
disable=SC1090 # can't follow non-constant source.
disable=SC1091 # Not following
# disable=SC2015 # inline condition warning
# disable=SC2034 # unused vars
# disable=SC2038 # disable -print0/-0 warn
# disable=SC2068 # array expansion
# disable=SC2086 # word splitting
# disable=SC2115 # disable "${var:?}" warn
disable=SC2155 # Declare and assign separately to avoid masking return values.
# disable=SC2128 # array expansion
disable=SC2139 # expansion in definition
disable=SC2143 # Use grep -q instead of comparing output with
disable=SC2145 # use $@
disable=SC2153 # mispellings
